body {
  font-family: sans-serif;
  color: black; 
  background-color: white;
  margin: 1em;
}

h1,h2,h3,h4 {
  font-family: sans-serif;
  color: navy;
}

h1 {
  text-align: center;
}


div.header {
  padding: 0 0 0.5em 0;
  margin: 0 0 1.7em 0;
  border-bottom: solid thin;
}

div.header ul {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

div.header li {
  display: inline;
  padding: 0 1em 0 0;
  margin: 0 0 0 0;
}

div.header table {
  width: 100%;
}

div.header td {
  width: 33.3333%;
}


div.footer {
  font-style: italic;
  margin-top: 2.5em;
  border-top: thin solid;
}


div.footer2 {
  margin-top: 2.5em;
  padding-top: 0.4em;
  border-top: thin solid;
}  

div.footer2 table { 
  width: 100%;
}

div.footer2 td {
  width: 33.3333%;
}


div.footer3 { 
  margin-top: 2.5em;
}


pre {
  font-family: monospace;
}
