<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.55.0.16" targetFramework="Native" />
  <package id="freetype" version="2.4.2.1" targetFramework="Native" />
  <package id="freetype.redist" version="2.4.2.1" targetFramework="Native" />
  <package id="SDL" version="1.2.15.15" targetFramework="Native" />
  <package id="SDL.redist" version="1.2.15.15" targetFramework="Native" />
</packages>